@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.page-contact-us {
  font-size: 1.1rem;
  
  h4 {
    font-size: 1.1rem;
  }

  .page-wrapper {
    .page-content {
      @include screen-only-sm {
        flex-direction: column;
      }

      display: flex;
      
      > * {
        @include screen-only-sm {
          padding: $spacing-vertical-md 0;
        }

        flex: 1 1 auto;
      }

      h4 {
        margin-top: $spacing-vertical-lg;

        &:first-child {
          margin-top: 0;
        }
      }

      iframe {
        margin-bottom: 0;
        min-height: 400px;
      }
    }
  }
}