@import 'node_modules/bourbon/core/bourbon';


// Colors

$ts-purple: #312783;
$ts-purple-dark: #151450;
$ts-cyan: #96c0e8;
$ts-cyan-dark: saturate(darken($ts-cyan, 35%), 10%);
$ts-orange: #e7952e;

$white: lighten($ts-purple, 66%);

$gray-lightest: desaturate(lighten($ts-purple, 62%), 25%);

$black: #000;

$ts-light-background: $white;
$ts-dark-background: $ts-purple-dark;


// Fonts

$font-raleway: 'Raleway', sans-serif;
$font-exo: 'exo', sans-serif;

$font-size-body: 1rem;
$font-size-body-lg: 1.2rem;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;

// Text
$text-color-default: darken($ts-purple, 12%);


// Spacing

$spacing-horizontal-xxs: .3rem !default;
$spacing-horizontal-xs: .5rem !default;
$spacing-horizontal-sm: 1rem !default;
$spacing-horizontal-md: 1.125rem !default;
$spacing-horizontal-lg: 2.25rem !default;
$spacing-horizontal-xl: 3rem !default;

$spacing-vertical-xs: .25rem !default;
$spacing-vertical-sm: .5rem !default;
$spacing-vertical-md: 1rem !default;
$spacing-vertical-lg: 2rem !default;
$spacing-vertical-xl: 3rem !default;
$spacing-vertical-xxl: 4rem !default;


// Breakpoints

$breakpoint-xs: 374px !default;
$breakpoint-sm: 600px !default;
$breakpoint-md: 900px !default;
$breakpoint-lg: 970px !default;
$breakpoint-xl: 1280px !default;


// Icons

$icon-size-xxs: .75rem !default;
$icon-size-xs: .875rem !default;
$icon-size-sm: 1.25rem !default;
$icon-size-md: 1.5rem !default;
$icon-size-lg: 2rem !default;
$icon-size-xl: 3rem !default;
$icon-size-xxl: 4rem !default;


// Timing

$timing-quicker: .1s;
$timing-quick: .2s;
$timing-medium: .5s;
$timing-slow: .8s;

$timing-function: ease-in-out;


// Shadows 

$box-shadow-heavy: 0 4px 20px 0 rgba(0, 0, 0, .35);
$box-shadow-default: 0 2px 14px 0 rgba(0, 0, 0, .2);
$box-shadow-lighter: 0 2px 14px 0 rgba(0, 0, 0, .1);


// Border radiuses
$border-radius-default: 5px;


// Page elements
$header-height: 78px;