:root {
  --ts-blue-color: #312783;
  --ts-blue-color-light: #4857A3;
  --ts-blue-color-dark: #221b5c;
  --ts-azure-color: #75bae5;
  --ts-azure-color-light: #e3f1fa;
  --ts-white-color: #fff;
  --ts-error: rgb(211, 47, 47);

  --ts-blue-color-hovering: #8D88BA;

  --ts-size-18: 18px;
  --ts-size-24: 24px;

  --ts-mobile: 600px;
  --ts-tablet-max: 960px;

  /* FIXME: any better alternative to this? */
  --ts-spacing-1: 8px;
  --ts-spacing-1-5: 12px;
  --ts-spacing-2: 16px;
  --ts-spacing-3: 24px;
  --ts-spacing-4: 32px;
  --ts-spacing-5: 40px;
  --ts-spacing-6: 48px;
  --ts-spacing-7: 56px;
  --ts-spacing-8: 64px;
  --ts-spacing-9: 72px;
  --ts-spacing-10: 80px;
  --ts-spacing-15: 120px;
  --ts-spacing-20: 160px;

  --ts-transition-timing-quick: 200ms;
  --ts-transition-timing-default: 400ms;
  --ts-transition-function-default: ease-in-out;
}

/* html {
  overflow-x: hidden;
} */

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}

a {
  font-weight: 300;
  color: inherit;
  text-decoration: none;
}

hr {
  margin: 0;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: var(--ts-spacing-1);
  text-transform: capitalize;

  color: var(--ts-blue-color);
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: var(--ts-spacing-1);
  text-transform: capitalize;

  color: var(--ts-blue-color);
}

h1, h2 > * {
  text-transform: none;
}


p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 39px;

  color: var(--ts-blue-color);

}

@media only screen and (max-width: 960px) {
  p {
    line-height: 33px;
  }
}

@media only screen and (max-width: 600px) {
  p {
    line-height: 30px;
    font-size: 25px;
  }
}

b {
  font-weight: 500;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.component-container {
  margin-top: 70px;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  color: var(--ts-blue-color);
  margin-bottom: 70px;
  text-align: center;
}

.spacing-margin-8 {
  margin: 8px;
}

.center {
  text-align: center;
}

.mr-12 {
  margin-right: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.button {
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  height: 42px;
  justify-content: center;
  letter-spacing: 0.46px;
  line-height: 26px;
  padding: 8px 22px;
  text-transform: uppercase;

  border: 0;

  transition: background-color var(--ts-transition-timing-quick)
      var(--ts-transition-function-default),
    border-color var(--ts-transition-timing-quick)
      var(--ts-transition-function-default);
}

.title-2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: var(--ts-spacing-4);

  color: var(--ts-blue-color);
}


@media only screen and (max-width: 900px) {
  .title-2 {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: var(--ts-spacing-1);
  }
}