:root {
  --ts-blue-color: #312783;
  --ts-blue-color-light: #4857A3;
  --ts-blue-color-dark: #221b5c;
  --ts-azure-color: #75bae5;
  --ts-azure-color-light: #e3f1fa;
  --ts-white-color: #fff;

  --ts-blue-color-hovering: #8D88BA;

  --ts-size-18: 18px;
  --ts-size-24: 24px;

  --ts-mobile: 600px;

  --ts-transition-timing-quick: 200ms;
  --ts-transition-function-default: ease-in-out;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}

a {
  font-weight: 300;
  color: inherit;
  text-decoration: none;
}

hr {
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.component-container {
  margin-top: 70px;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  color: var(--ts-blue-color);
  margin-bottom: 70px;
  text-align: center;
}

.spacing-margin-8 {
  margin: 8px;
}

.center {
  text-align: center;
}

.mr-12 {
  margin-right: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.button {
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  height: 42px;
  justify-content: center;
  letter-spacing: 0.46px;
  line-height: 26px;
  padding: 8px 22px;
  text-transform: uppercase;

  border: 0;

  transition: background-color var(--ts-transition-timing-quick)
      var(--ts-transition-function-default),
    border-color var(--ts-transition-timing-quick)
      var(--ts-transition-function-default);
}