---
import classnames from 'classnames';

const { title = "", title2 = false, azure = "", mobilealignleft = "" } = Astro.props;
---

<div
  class={classnames("top-banner", {"top-banner--azure": azure, "top-banner--mobile-align-left": mobilealignleft})}
>
  <div class="top-banner__content">
    <div class="top-banner__external">
      <slot name="external" />
    </div>
    <h1
      class={classnames("top-banner__title", {"title-1": !title2, "title-2": title2})}
      class:title-1={!title2}
      class:title-2={title2}
      class="top-banner__title"
    >
      {title}
    </h1>
    <div class="top-banner__text">
      <slot name="text" />
    </div>
    <div class="top-banner__actions">
      <slot name="actions" />
    </div>
  </div>
</div>

<style lang="scss">
  @use "../styles/variables.scss";

  @import "../styles/main";

  .top-banner {
    position: relative;
    background-color: variables.$ts-blue-background;
    color: variables.$ts-blue-color;

    &--azure {
      background-color: variables.$ts-azure-color-light;
    }

    &__content {
      box-sizing: border-box;
      max-width: variables.$ts-tablet-max;
      margin: auto;
      padding: variables.$ts-spacing-4 variables.$ts-spacing-8;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      text-align: center;

      &,
      &.title-1 {
        margin: 0 0 variables.$ts-spacing-3 0;
      }
    }

    &__text {
      max-width: variables.$ts-mobile-max + variables.$ts-spacing-2;
      margin: 0 auto variables.$ts-spacing-3;
    }

    &__actions {
      margin: variables.$ts-spacing-5 auto variables.$ts-spacing-4;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__external {
      max-width: variables.$ts-tablet-max;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    @media screen and (max-width: variables.$ts-mobile-max) {
      &__title {
        &.title-1 {
          margin-top: variables.$ts-spacing-9;
          text-align: center;
        }
        &.title-2 {
          margin-top: variables.$ts-spacing-4;
          text-align: left;
          max-width: 50%;
        }
      }

      &__content {
        align-items: flex-start;
        padding: variables.$ts-spacing-5 variables.$ts-spacing-4;
      }

      &__text {
        max-width: 80%;
        margin-left: 0;
      }

      &--mobile-align-left &__text,
      &--mobile-align-left &__title {
        &.title-2 {
          text-align: left;
        }
      }
    }

    @media screen and (min-width: variables.$ts-mobile-max) {
      &__text {
        text-align: center;
      }
    }
  }
</style>
