@use './variables';


* {
  box-sizing: border-box;
}

hr {
  margin: 0;
}

.center {
  text-align: center;
}

.button {
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  height: 42px;
  justify-content: center;
  letter-spacing: 0.46px;
  line-height: 26px;
  padding: 8px 22px;
  text-transform: uppercase;

  border: 0;

  transition: background-color variables.$ts-transition-timing-quick
      variables.$ts-transition-function-default,
    border-color variables.$ts-transition-timing-quick
      variables.$ts-transition-function-default;
}
