$ts-blue-color: #312783;
$ts-blue-color-light: #4857A3;
$ts-blue-color-dark: #221b5c;
$ts-blue-background: #ebeaf3;
$ts-azure-color: #75bae5;
$ts-azure-color-light: #e3f1fa;
$ts-white-color: #fff;
$ts-error: #d32f2f;

$ts-blue-color-hovering: #8D88BA;

$ts-size-18: 18px;
$ts-size-24: 24px;

$ts-mobile-max: 600px;
$ts-tablet-min: $ts-mobile-max + 1px;
$ts-tablet-max: 960px;

/* FIXME: any better alternative to this? */
$ts-spacing-1: 8px;
$ts-spacing-1-5: 12px;
$ts-spacing-2: 16px;
$ts-spacing-3: 24px;
$ts-spacing-4: 32px;
$ts-spacing-5: 40px;
$ts-spacing-6: 48px;
$ts-spacing-7: 56px;
$ts-spacing-8: 64px;
$ts-spacing-9: 72px;
$ts-spacing-10: 80px;
$ts-spacing-15: 120px;
$ts-spacing-20: 160px;

$ts-transition-timing-quick: 200ms;
$ts-transition-timing-default: 400ms;
$ts-transition-function-default: ease-in-out;