@import '../../sass/variables.scss';


.hexagon-chart {
  display: block;

  .hexagon {
    cursor: pointer;
    
    &:hover {
      .hexagon-shadow {
        opacity: .4;
      }
    }

    &.highlighted {
      .hexagon-shadow {
        opacity: 0;
      }
  
      .hexagon-highlight {
        opacity: 1;
      }
    }
  }

  .hexagon-highlight {
    opacity: 0;
    transition: opacity $timing-quick $timing-function;
  }

  .hexagon-shadow {
    opacity: .2;
    transition: opacity $timing-quick $timing-function;
  }
}