<div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="392.858"
    height="436.562"
    fill="none"
    viewBox="0 0 392.858 436.562"
  >
    <g
      filter="url(#header-hexagons-mobile__a)"
      transform="matrix(1.01428 0 0 .98752 -29.83 -69.931)"
    >
      <path
        fill="#3d3d3d"
        d="m187.872 303.223 14.325-6.33 14.35-6.275 12.644 9.241 12.608 9.29-1.68 15.571-1.741 15.564-14.325 6.33-14.35 6.274-12.644-9.241-12.608-9.29 1.68-15.57z"
      />
      <path
        fill="#312783"
        fill-opacity=".67"
        d="m184.473 334.327 1.703-15.568 1.764-15.562 14.333-6.309 14.359-6.254 12.631 9.259 12.595 9.308-1.703 15.568-1.764 15.562-14.333 6.309-14.359 6.254-12.631-9.259z"
      />
    </g>
    <g
      filter="url(#header-hexagons-mobile__b)"
      transform="matrix(1.01428 0 0 .98752 -29.83 -69.931)"
    >
      <path
        fill="#312783"
        d="m149.576 218.034-11.128-5.594-11.15-5.55-10.321 6.818-10.295 6.857.808 12.411.855 12.408 11.129 5.593 11.149 5.55 10.322-6.817 10.294-6.858-.807-12.41z"
      />
    </g>
    <defs>
      <filter
        id="header-hexagons-mobile__a"
        width="217.407"
        height="222.275"
        x="104.451"
        y="290.619"
        color-interpolation-filters="sRGB"
        filterUnits="userSpaceOnUse"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          result="hardAlpha"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        />
        <feOffset dy="80" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix
          values="0 0 0 0 0.117647 0 0 0 0 0.117647 0 0 0 0 0.396078 0 0 0 0.25 0"
        />
        <feBlend
          in2="BackgroundImageFix"
          result="effect1_dropShadow_1628_12504"
        />
        <feBlend
          in="SourceGraphic"
          in2="effect1_dropShadow_1628_12504"
          result="shape"
        />
      </filter>
      <filter
        id="header-hexagons-mobile__b"
        width="204.556"
        height="209.637"
        x="26.682"
        y="206.89"
        color-interpolation-filters="sRGB"
        filterUnits="userSpaceOnUse"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          result="hardAlpha"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        />
        <feOffset dy="80" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix
          values="0 0 0 0 0.117647 0 0 0 0 0.117647 0 0 0 0 0.396078 0 0 0 0.25 0"
        />
        <feBlend
          in2="BackgroundImageFix"
          result="effect1_dropShadow_1628_12504"
        />
        <feBlend
          in="SourceGraphic"
          in2="effect1_dropShadow_1628_12504"
          result="shape"
        />
      </filter>
    </defs>
  </svg>
</div>

<style>
  div {
    position: relative;
    pointer-events: none;
  }

  svg {
    position: absolute;
    right: -275px;
    top: -155px;
  }

  @media only screen and (min-width: 961px) {
    svg {
      display: none;
    }
  }
</style>
