@import '../../sass/variables.scss';

$panel-width: 500px;

.index-page {
  .sliding-container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .sliding {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    max-width: 1920px;
    transform: translate(0, 0);
    transition: transform $timing-medium $timing-function;

    &.shift-left {
      transform: translate($panel-width, 0);
    }

    &.shift-right {
      transform: translate(-$panel-width, 0);
    }

  }
}

.hexagon-chart {
  flex: 1 0 auto;
  max-height: calc(100vh - 120px);
}


.left-panel,
.right-panel {
  flex: 0 0 $panel-width;
  height: 100%;
  opacity: 0;
  padding: $spacing-horizontal-md $spacing-vertical-md;
  transition: opacity $timing-medium $timing-function;

  &.shown {
    opacity: 1;
  }
}

.index-page {
  .page-content {
    position: relative;
  }
}