@import '../../sass/variables.scss';

.hexagon {
  text {
    text-transform: uppercase;
  }

  &.purple {
    color: $ts-purple;
  }

  &.cyan {
    color: darken($color: $ts-cyan, $amount: 20%);
  }

  &.orange {
    color: darken($color: $ts-orange, $amount: 10%);
  }
}