@import '../../../sass/mixins';
@import '../../../sass/variables';

.service-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: $spacing-vertical-lg;
  margin-top: $spacing-vertical-lg;
  min-height: calc(100vh - 150px);

  .ts-button {
    @include screen-only-xs {
      font-size: 1rem;
    };

    align-items: center;
    display: flex;
    font-size: 1.2rem;

    .icon {
      display: inline;
      height: $icon-size-md;
      margin-right: $spacing-horizontal-xs;
      width: $icon-size-md;
    }
  }
}