---
import Layout from "../components/Layout.astro";
import TopBanner from "../components/TopBanner.astro";
import Button from "../components/Button.astro";
import Hex from "../components/Hex.astro";
import Blob from "../components/Blob.astro";
import Picture from "../components/Picture.astro";
import Customers from "../components/Customers.astro";
import HeaderHexagonsDesktop from "../components/haka/HeaderHexagonsDesktop.astro";
import HeaderHexagonsMobile from "../components/haka/HeaderHexagonsMobile.astro";
import HakaTripleBlob from "../components/HakaTripleBlob.astro";
import { hakaBlobs } from "../utils/tripleBlobs";
---

<Layout color="light">
  <TopBanner title="Audit competenze" mobilealignleft="true" title2="{true}">
    <div class="claim" slot="text">
      Rileva il Know-how professionale dei dipendenti e scopri il punto di partenza per sviluppare e rafforzare le loro
      competenze con Haka
    </div>
    <div slot="actions" style="
      display: flex;
      flex-direction: column;
      max-width: 175px;
      margin: auto;
    ">
      <div class="button-margin">
        <Button variant="tertiary" target="_blank" href="/documents/Brochure%20Top%20Solution.pdf"
          download="Brochure Top Solution.pdf">SCARICA BROCHURE</Button>
      </div>
      <Button variant="primary" href="/contacts/">Contattaci</Button>
    </div>
    <div slot="external">
      <HeaderHexagonsDesktop />
      <HeaderHexagonsMobile />
      <div class="floating-hex-0">
        <Hex width="56" fill="#9893c1" shadow="true" />
      </div>
      <div class="floating-hex-3">
        <Hex width="56" fill="#9893c1" shadow="true" />
      </div>
      <div class="floating-hex-4">
        <Hex width="86" fill="#312783" shadow="true" />
      </div>
    </div>
  </TopBanner>
  <div>
    <div class="copy">
      <h2>測 HAKA</h2>
      <p class="body-2">
        Le Risorse Umane sono il cardine delle organizzazioni: le idee guidano il cambiamento, le persone lo realizzano.
      </p>
      <video class="video" controls>
        <track kind="captions" />
        <source src="../videos/haka.mp4" type="video/mp4" />
      </video>
      <div class="floating-hex-6">
        <Hex width="56" fill="#9893c1" shadow="true" />
      </div>
    </div>
    <div class="floating-hex-7">
      <Hex width="56" fill="#0078C3" shadow="true" />
    </div>
    <div class="floating-hex-8">
      <Hex width="56" fill="#31278370" shadow="true" />
    </div>
    <div class="services">
      <HakaTripleBlob id="triple-blob-ht-development" title="Scegli il PIANO e scopri le tariffe"
        subtitle="Scegliendo Haka sei libero di utilizzare il servizio senza effettuare abbonamenti"
        buttonlink="/hr-development.html" blobs={hakaBlobs} />
      <div class="blob">
        <Blob interactive={true} shape="hexagon" fill="#e9e8f2" padding="46" variance="1.2">
          <div class="blob-content">
            <p class="title-6">Desideri un <b>piano custom</b>?</p>
            <p class="title-6">Scegli il piano <b>ENTERPRISE</b></p>
            <div class="button">
              <Button variant="primary" href="/contacts.html" style="display: inline-block">
                Contattaci
              </Button>
            </div>
          </div>
        </Blob>
      </div>
      <Customers title="Chi ha scelto 測 HAKA" />
    </div>
  </div>
</Layout>

<style>
  h2 {
    text-align: center;
    margin-top: var(--spacing-10);
  }

  .button-margin {
    margin-bottom: var(--spacing-2);
  }

  .floating-hex-2 {
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
  }

  .floating-hex-3 {
    position: absolute;
    left: 20%;
    top: 450px;
  }

  .blob {
    display: block;
    max-width: 285px;
    margin: 110px auto var(--spacing-10);
    margin-top: 100px;
    width: 100%;
  }

  .blob-content {
    text-align: center;
    margin: 0 var(--spacing-5) 0 var(--spacing-5);
  }

  .button {
    max-width: 175px;
    margin: var(--spacing-3) auto 0 auto;
  }

  .floating-hex-4 {
    position: absolute;
    left: 60%;
    top: 590px;
  }

  .floating-hex-5 {
    position: absolute;
    left: 65%;
    top: 800px;
  }

  .floating-hex-6 {
    position: absolute;
    left: 95%;
    top: 1200px;
  }

  .floating-hex-7 {
    position: absolute;
    left: 80%;
    top: 2175px;
  }

  .floating-hex-8 {
    position: absolute;
    left: 10%;
    top: 2400px;
  }

  .card-hex-group {
    position: absolute;
    left: 50%;
    top: 1200px;
  }

  .copy p {
    text-align: center;
    margin: var(--spacing-6) 0 var(--spacing-6);

  }

  .services {
    margin: var(--spacing-10) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .video {
    width: 100%;
    height: auto;
    margin: var(--spacing-3) 0;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 var(--spacing-10);
  }

  .service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 45%;
    border: 1px solid var(--color-blue);
    border-radius: 4px;
    padding: 16px;
    margin: var(--spacing-1);
    max-width: 350px;
  }

  h4 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: var(--spacing-1);
  }

  .body-3 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: var(--spacing-10);
  }

  .card-button {
    margin-left: auto;
    max-width: 140px;
  }

  .customers {
    margin-top: var(--spacing-10);
    margin-bottom: var(--spacing-6);
  }

  .choose-services {
    margin-bottom: var(--spacing-6);
  }

  @media only screen and (max-width: 600px) {
    .service-card {
      flex: 0 0 100%;
    }

    .floating-hex-3 {
      position: absolute;
      left: 0%;
      top: 490px;
    }

    .card-hex-group,
    .floating-hex-0,
    .floating-hex-3,
    .floating-hex-5 {
      display: none;
    }
  }

  @media screen and (max-width: 900px) {
    .card-hex-group {
      display: none;
    }
  }
</style>