---
import Layout from "../components/Layout.astro";
import Button from "../components/Button.astro";
import Blob from "../components/Blob.astro";
import TopBanner from "../components/TopBanner.astro";
import Hex from "../components/Hex.astro";
import TripleBlob from "../components/TripleBlob.astro";
import HrSvg from "../components/hr-development/HrSvg.astro";
import HeaderHexagonsDesktop from "../components/hr-development/HeaderHexagonsDesktop.astro";
import HeaderHexagonsMobile from "../components/hr-development/HeaderHexagonsMobile.astro";
import { developmentHumanResourceBlobs } from "../utils/tripleBlobs";
---

<Layout color="light">
  <TopBanner title="Sviluppo delle Risorse Umane" mobilealignleft="true" title2={false}>
    <p class="claim" slot="text">
      I nostri <b>servizi</b> vengono proposti in modalità SaaS e sono rivolti allo sviluppo delle <b>Risorse Umane</b>
      e del <b>Marketing Aziendale</b>
    </p>
    <div slot="actions" style="display: flex; flex-direction: column; max-width: 175px; margin: auto;">
      <Button variant="primary" href="/contacts.html">Contattaci</Button>
    </div>
    <div slot="external">
      <HeaderHexagonsDesktop />
      <div class="header-hexagons-mobile">
        <HeaderHexagonsMobile />
      </div>
      <div class="hexagons-floating">
        <Hex width="85" fill="#312783" shadow="true" />
      </div>
    </div>
  </TopBanner>
  <article>
    <section>
      <p>
        Le nostre piattaforme permettono di integrare in un <b>unico sistema</b>
        di comunicazione on-line, diversi moduli per la <b>gestione</b> delle attività del <b>personale</b> interno ed
        esterno
      </p>
      <div class="hr-svg">
        <HrSvg />
      </div>
      <div class="floating-hex-3">
        <Hex width="130" fill="#4758a3" shadow="true" />
      </div>
    </section>
    <TripleBlob title="SVILUPPO DELLE RISORSE UMANE" buttonlink="/hr-development/"
      blobs={developmentHumanResourceBlobs} />
    <div class="blob">
      <Blob interactive={true} shape="hexagon" fill="#E3F1FA" padding="48" variance="1.4" height="400">
        <div class="blob-content">
          <p>
            I nostri <b>prodotti</b> sono continuamente rinnovati utilizzando le più
            <b>moderne tecnologie</b> web garantendo al cliente una
            <b>user experience</b> sempre aggiornata e performance adeguate
          </p>
          <div class="button">
            <Button variant="primary" href="/contacts.html" style="display: inline-block;">Contattaci</Button>
          </div>
        </div>
      </Blob>
      <div class="floating-hex-4">
        <Hex width="75" fill="#312783" shadow="false" rotation="-4" />
      </div>
    </div>

    <div class="floating-hex-4">
      <Hex width="75" fill="#312783" shadow="false" rotation="-4" />
    </div>
  </article>
</Layout>

<style>
  .header-hexagons-mobile {
    display: none;
    position: absolute;
  }

  .hexagons-floating {
    width: 85px;
    position: absolute;
    bottom: -50px;
    right: 30px;
  }

  article {
    display: block;
    margin-top: var(--spacing-3);
    color: var(--color-blue);
    box-sizing: border-box;
  }

  .floating-hex-3 {
    width: 130px;
    position: absolute;
    top: 250px;
    left: -175px;
  }

  .floating-hex-4 {
    position: absolute;
    left: 975px;
    top: 1275px;
  }

  section {
    display: flex;
    position: relative;
    height: 300px;
  }

  section p {
    flex: 1 1 0;
    margin-top: var(--spacing-5);
    font-size: 25px;
  }

  section .hr-svg {
    display: block;
    max-width: 320px;
    flex: 0 1 320px;
    overflow: visible;
  }

  .blob {
    display: block;
    margin-bottom: var(--spacing-1);
  }

  .blob p {
    font-size: 24px;
    font-weight: 300;
  }

  .blob-content {
    text-align: center;
    padding: var(--spacing-1) var(--spacing-9) 0 var(--spacing-9);
    max-height: 400px;
  }

  .blob-content .button {
    max-width: 175px;
    margin: var(--spacing-3) auto 0 auto;
  }

  @media only screen and (max-width: 600px) {
    .blob p {
      font-size: 18px;
    }

    .floating-hex-3 {
      display: none;
    }

    .floating-hex-4 {
      width: 45px;
      margin-right: 134px;
    }

    section {
      align-items: flex-start;
      margin: var(--spacing-10) 0;
      height: auto !important;
    }

    section p {
      font-size: 20px;
      margin-top: 0;
    }

    section .hr-svg {
      display: none;
      max-width: 160px;
      flex: 0 1 160px;
      margin-left: var(--spacing-1);
      margin-top: var(--spacing-1);
    }

    .blob {
      margin-top: 100px;
    }
  }

  @media only screen and (max-width: 960px) {
    .hr-svg {
      display: none;
    }

    section p {
      text-align: center;
    }

    section {
      height: 400px;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 960px) {
    .floating-hex-3 {
      display: none;
    }
  }
</style>