---
import Layout from "../components/Layout.astro";
import Button from "../components/Button.astro";
import Blob from "../components/Blob.astro";
import TopBanner from "../components/TopBanner.astro";
import Hex from "../components/Hex.astro";
import HrSvg from "../components/hr-development/HrSvg.astro";
import HeaderHexagonsDesktop from "../components/hr-development/HeaderHexagonsDesktop.astro";
import HeaderHexagonsMobile from "../components/hr-development/HeaderHexagonsMobile.astro";
---

<Layout color="light">
  <TopBanner title="Sviluppo delle Risorse Umane" mobilealignleft="true" title2={false}>
    <div class="claim" slot="text">
      I nostri <b>servizi</b> vengono proposti in modalità SaaS e sono rivolti allo sviluppo delle <b>Risorse Umane</b> e
      del <b>Marketing Aziendale</b>
    </div>
    <div slot="actions" style="display: flex; flex-direction: column; max-width: 175px; margin: auto;">
      <Button variant="primary" href="/contacts.html">Contattaci</Button>
    </div>
    <div slot="external">
      <div class="header-hexagons-desktop">
        <HeaderHexagonsDesktop />
      </div>
      <div class="header-hexagons-mobile">
        <HeaderHexagonsMobile />
      </div>
      <div class="hexagons-floating">
        <Hex width="85" fill="#312783" shadow="true" />
      </div>
    </div>
  </TopBanner>
  <article class="layout">
    <div class="page-hr-development">
      <div class="copy">
        <p class="claim">
          Le nostre piattaforme permettono di integrare in un <b>unico sistema</b>
          di comunicazione on-line, diversi moduli per la <b>gestione</b> delle attività del <b>personale</b> interno ed
          esterno
        </p>
        <div class="hr-svg">
          <HrSvg />
        </div>
        <div class="floating-hex-3">
          <Hex width="130" fill="#4758a3" shadow="true" />
        </div>
      </div>
      <div class="our-services">
        <h2 class="title-3 title-form">I nostri <b>servizi</b></h2>
        <ol>
          <li>
            <h5>AUDIT COMPETENZE</h5>
            <div class="button">
              <Button variant="outlined" href="haka.html">Scopri</Button>
            </div>
            <div class="small">
              <Button variant="outlined" small={true} href="haka.html">Scopri</Button>
            </div>
          </li>
          <li>
            <h5>SVILUPPO ORGANIZZATIVO</h5>
            <div class="button">
              <Button variant="outlined" href="company-development.html">Scopri</Button>
            </div>
            <div class="small">
              <Button variant="outlined" small={true} href="company-development.html">Scopri</Button>
            </div>
          </li>
          <li>
            <h5>SVILUPPO INDIVIDUALE</h5>
            <div class="button">
              <Button variant="outlined" href="self-development.html">Scopri</Button>
            </div>
            <div class="small">
              <Button variant="outlined" small={true} href="self-development.html">Scopri</Button>
            </div>
          </li>
        </ol>
        <svg viewBox="0 0 616 573" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M615.851 371.212L588.675 228.197L560.868 85.3133L407.215 42.7312L253.339 0.697273L126.861 101.13L0.791841 201.98L27.968 344.995L55.7745 487.878L209.428 530.461L363.304 572.495L489.781 472.062L615.851 371.212Z"
            fill="#E3F1FA"></path>
        </svg>
      </div>
      <div class="blob">
        <Blob interactive="true" shape="hexagon" fill="#EBEAF3" padding="48" variance="1.4">
          <div class="blob-content">
            <p class="body-2">
              I nostri <b>prodotti</b> sono continuamente rinnovati utilizzando le più
              <b>moderne tecnologie</b> web garantendo al cliente una
              <b>user experience</b> sempre aggiornata e performance adeguate
            </p>
            <div class="button">
              <Button variant="primary" href="/contacts.html" style="display: inline-block;">Contattaci</Button>
            </div>
          </div>
        </Blob>
      </div>
      <div class="floating-hex-4">
        <Hex width="75" fill="#312783" shadow="false" rotation="-4" />
      </div>
    </div>
  </article>
</Layout>

<style lang="scss">
  .header-hexagons-desktop {
    right: 0px;
    width: 100%;
    top: 0px;
  }

  .header-hexagons-mobile {
    display: none;
  }

  .header-hexagons-desktop,
  .header-hexagons-mobile {
    position: absolute;
  }

  .hexagons-floating {
    width: 85px;
    position: absolute;
    bottom: -50px;
    right: 30px;
  }

  .page-hr-development {
    display: block;
    color: var(--color-blue);
    box-sizing: border-box;
  }

  .page-hr-development .floating-hex-1 {
    position: absolute;
    bottom: -230px;
    right: -90px;
  }

  .page-hr-development .floating-hex-3 {
    width: 130px;
    position: absolute;
    top: 300px;
    left: -30;
  }

  .page-hr-development .floating-hex-4 {
    width: 225px;
    display: block;
    margin-left: auto;
    margin-right: var(--spacing-3);
  }

  .copy {
    display: flex;
    margin-top: var(--spacing-15);
    position: relative;
  }

  .copy p {
    flex: 1 1 0;
    margin-top: var(--spacing-5);
  }

  .copy .hr-svg {
    display: block;
    max-width: 320px;
    flex: 0 1 320px;
    overflow: visible;
  }

  .our-services {
    max-width: 540px;
    margin: var(--spacing-20) auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .our-services .title-3 {
    text-align: center;
  }

  .our-services ol {
    list-style: none;
    padding: 0;
  }

  .our-services li {
    display: flex;
    min-width: 500px;
    margin-bottom: var(--spacing-3);
  }

  .our-services .button {
    display: inline-block;
    margin-left: var(--spacing-8);
  }

  .our-services .small {
    display: none;
  }

  .our-services svg {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 110%;
  }

  .page-hr-development .blob {
    display: block;
    max-width: 540px;
    margin: 220px auto var(--spacing-10);
  }

  .page-hr-development .blob-content {
    text-align: center;
    margin: 0 var(--spacing-5);
  }

  .page-hr-development .blob-content .button {
    max-width: 175px;
    margin: var(--spacing-3) auto 0 auto;
  }

  .page-hr-development .header-hexagons-desktop {
    display: none;
  }

  .page-hr-development .header-hexagons-mobile {
    display: block;
    right: 72px;
    width: 100%;
    top: 30px;
  }

  .page-hr-development .hexagons-floating {
    width: 58px;
  }

  @media only screen and (max-width: 600px) {
    .floating-hex-3 {
      display: none;
    }

    .floating-hex-4 {
      width: 45px;
      margin-right: 134px;
    }

    .copy {
      align-items: flex-start;
      margin: var(--spacing-10) 0;
    }

    .copy .claim {
      font-size: 20px;
      margin-top: 0;
    }

    .copy .hr-svg {
      display: none;
      max-width: 160px;
      flex: 0 1 160px;
      margin-left: var(--spacing-1);
      margin-top: var(--spacing-1);
    }

    .blob {
      margin-top: 100px;
    }

    .our-services {
      align-items: stretch;
      margin-top: var(--spacing-15);
    }

    .our-services li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 0;
    }

    .our-services .button {
      display: none;
    }

    .our-services .small {
      display: block;
      margin-left: auto;
    }

    .our-services svg {
      width: 125%;
    }
  }

  @media only screen and (max-width: 960px) {
    .hr-svg {
      display: none;
    }

    .claim {
      text-align: center;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 960px) {
    .floating-hex-3 {
      display: none;
    }
  }
</style>
