---
import Layout from "../components/Layout.astro";
import Hex from "../components/Hex.astro";
---


<Layout color="dark">
  <div class="privacy-policy">
    <div class="relative">
      <div class="floating-hex-10">
        <Hex width="240" fill="#221b5c" shadow="true" />
      </div>
    </div>
    <h4>Privacy Policy di <b>www.topsolution.it</b></h4>
    <h6><b>Privacy Policy Semplificata</b></h6>
    <p>
      Questa Applicazione raccoglie alcuni Dati Personali dei propri Utenti.
    </p>
    <p>
      Questo documento può essere stampato utilizzando il comando di stampa
      presente nelle impostazioni di qualsiasi browser.
    </p>
    <hr />
    <h5>
      <b>Dati Personali trattati per le seguenti finalità e utilizzando i
        seguenti servizi:</b>
    </h5>
    <div class="flex-container">
      <div class="flex-item">
        <div class="flex-icon">
          <img src="../img/icons/mail.svg" width="32" height="32" alt="Mail" />
        </div>
        <div class="flex-box">
          <div>
            <b>Contattare l'Utente</b>
          </div>
          <div class="contactForm">Modulo di contatto</div>
          <div>
            <div class="smallFont">
              <b>Dati Personali</b>: Nome, cognome, data di nascita, email, numero di
              telefono, anni di esperienza, titolo di studio.
            </div>
            <div class="smallFont">
              <b>Dati Aziendali</b>: nome azienda, ruolo, numero di dipendenti,
              settore.
            </div>
          </div>
        </div>
      </div>
      <div class="flex-item">
        <div class="flex-icon">
          <img src="../img/icons/optionPaper.svg" width="32" height="32" alt="Option Paper" />
        </div>
        <div class="flex-box">
          <div>
            <b>Gestione della raccolta dati e dei sondaggi online</b>
          </div>
          <div class="smallFont">Dati raccolti tramite moduli online gestiti in proprio</div>
          <div class="smallFont">Dati Personali: nome; numero di telefono</div>
        </div>
      </div>
    </div>

    <hr />
    <h5>
      <b>Informazioni di contatto:</b>
    </h5>
    <div class="flex-container direction">
      <div class="flex-item ">
        <div class="flex-icon">
          <img src="../img/icons/user.svg" width="32" height="32" alt="User" />
        </div>
      </div>
      <div class="flex-box">
        <div>
          <b>Titolare del Trattamento dei Dati</b>
        </div>
        <div class="smallFont">Top Solution s.r.l</div>
        <div class="smallFont">Sede Legale Corso Regina Margherita, 254, 10144 Torino TO</div>
        <div class="smallFont"><b>Indirizzo email del Titolare</b>: info@topsolution.it</div>
      </div>
    </div>
    <h5><b>Privacy Policy Estesa</b></h5>
    <h7 class="margin">Titolare del Trattamento dei Dati</h7>
    <p class="margin">Top Solution s.r.l</p>
    <p class="margin">Sede Legale Corso Regina Margherita, 254, 10144 Torino TO</p>
    <p class="margin"><b>Indirizzo email del Titolare</b>: info@topsolution.it</p>
    <hr />
    <h5><b>Tipologie di Dati raccolti </b></h5>
    <p>
      Fra i Dati Personali raccolti da questa Applicazione, in modo autonomo o
      tramite terze parti, ci sono: nome; numero di telefono; nome; cognome;
      data di nascita; email; varie tipologie di Dati
    </p>
    <p>
      Dettagli completi su ciascuna tipologia di dati raccolti sono forniti
      nelle sezioni dedicate di questa privacy policy o mediante specifici
      testi informativi visualizzati prima della raccolta dei dati stessi. I
      Dati Personali possono essere liberamente forniti dall'Utente o, nel
      caso di Dati di Utilizzo, raccolti automaticamente durante l'uso di
      questa Applicazione. Se non diversamente specificato, tutti i Dati
      richiesti da questa Applicazione sono obbligatori. Se l’Utente rifiuta
      di comunicarli, potrebbe essere impossibile per questa Applicazione
      fornire il Servizio. Nei casi in cui questa Applicazione indichi alcuni
      Dati come facoltativi, gli Utenti sono liberi di astenersi dal
      comunicare tali Dati, senza che ciò abbia alcuna conseguenza sulla
      disponibilità del Servizio o sulla sua operatività. Gli Utenti che
      dovessero avere dubbi su quali Dati siano obbligatori, sono incoraggiati
      a contattare il Titolare. L’eventuale utilizzo di Cookie - o di altri
      strumenti di tracciamento - da parte di questa Applicazione o dei
      titolari dei servizi terzi utilizzati da questa Applicazione, ove non
      diversamente precisato, ha la finalità di fornire il Servizio richiesto
      dall'Utente, oltre alle ulteriori finalità descritte nel presente
      documento e nella Cookie Policy, se disponibile.
    </p>
    <p>
      L'Utente si assume la responsabilità dei Dati Personali di terzi
      ottenuti, pubblicati o condivisi mediante questa Applicazione e
      garantisce di avere il diritto di comunicarli o diffonderli, liberando
      il Titolare da qualsiasi responsabilità verso terzi.
    </p>
    <p>
      Quest'applicazione utilizza solamente cookie tecnici, necessari al suo
      funzionamento.
    </p>
    <hr />
    <h5>
      <b>Modalità e luogo del trattamento dei Dati raccolti</b>
    </h5>
    <p><b>Modalità di trattamento</b></p>
    <p>
      Il Titolare adotta le opportune misure di sicurezza volte ad impedire
      l’accesso, la divulgazione, la modifica o la distruzione non autorizzate
      dei Dati Personali. Il trattamento viene effettuato mediante strumenti
      informatici e/o telematici, con modalità organizzative e con logiche
      strettamente correlate alle finalità indicate. Oltre al Titolare, in
      alcuni casi, potrebbero avere accesso ai Dati altri soggetti coinvolti
      nell’organizzazione di questa Applicazione (personale amministrativo,
      commerciale, marketing, legali, amministratori di sistema) ovvero
      soggetti esterni (come fornitori di servizi tecnici terzi, corrieri
      postali, hosting provider, società informatiche, agenzie di
      comunicazione) nominati anche, se necessario, Responsabili del
      Trattamento da parte del Titolare. L’elenco aggiornato dei Responsabili
      potrà sempre essere richiesto al Titolare del Trattamento.
    </p>
    <p><b>Base giuridica del trattamento</b></p>
    <p>
      Il Titolare tratta Dati Personali relativi all’Utente in caso sussista
      una delle seguenti condizioni:
    </p>
    <ul>
      <li>
        l’Utente ha prestato il consenso per una o più finalità specifiche;
        Nota: in alcuni ordinamenti il Titolare può essere autorizzato a
        trattare Dati Personali senza che debba sussistere il consenso
        dell’Utente o un’altra delle basi giuridiche specificate di seguito,
        fino a quando l’Utente non si opponga (“opt-out”) a tale trattamento.
        Ciò non è tuttavia applicabile qualora il trattamento di Dati
        Personali sia regolato dalla legislazione europea in materia di
        protezione dei Dati Personali;
      </li>
      <li>
        il trattamento è necessario all'esecuzione di un contratto con
        l’Utente e/o all'esecuzione di misure precontrattuali;
      </li>
      <li>
        il trattamento è necessario per adempiere un obbligo legale al quale è
        soggetto il Titolare;
      </li>
      <li>
        il trattamento è necessario per l'esecuzione di un compito di
        interesse pubblico o per l'esercizio di pubblici poteri di cui è
        investito il Titolare;
      </li>
      <li>
        il trattamento è necessario per il perseguimento del legittimo
        interesse del Titolare o di terzi.
      </li>
    </ul>
    <p>
      È comunque sempre possibile richiedere al Titolare di chiarire la
      concreta base giuridica di ciascun trattamento ed in particolare di
      specificare se il trattamento sia basato sulla legge, previsto da un
      contratto o necessario per concludere un contratto.
    </p>
    <p><b>Luogo</b></p>
    <p>
      I Dati sono trattati presso le sedi operative del Titolare ed in ogni
      altro luogo in cui le parti coinvolte nel trattamento siano localizzate.
      Per ulteriori informazioni, contatta il Titolare. I Dati Personali
      dell’Utente potrebbero essere trasferiti in un paese diverso da quello
      in cui l’Utente si trova. Per ottenere ulteriori informazioni sul luogo
      del trattamento l’Utente può fare riferimento alla sezione relativa ai
      dettagli sul trattamento dei Dati Personali.
    </p>
    <p>
      L’Utente ha diritto a ottenere informazioni in merito alla base
      giuridica del trasferimento di Dati al di fuori dell’Unione Europea o ad
      un’organizzazione internazionale di diritto internazionale pubblico o
      costituita da due o più paesi, come ad esempio l’ONU, nonché in merito
      alle misure di sicurezza adottate dal Titolare per proteggere i Dati.
    </p>
    <p>
      L’Utente può verificare se abbia luogo uno dei trasferimenti appena
      descritti esaminando la sezione di questo documento relativa ai dettagli
      sul trattamento di Dati Personali o chiedere informazioni al Titolare
      contattandolo agli estremi riportati in apertura.
    </p>
    <p><b>Periodo di conservazione</b></p>
    <p>
      I Dati sono trattati e conservati per il tempo richiesto dalle finalità
      per le quali sono stati raccolti.
    </p>
    <p>Pertanto:</p>
    <ul>
      <li>
        I Dati Personali raccolti per scopi collegati all’esecuzione di un
        contratto tra il Titolare e l’Utente saranno trattenuti sino a quando
        sia completata l’esecuzione di tale contratto.
      </li>
      <li>
        I Dati Personali raccolti per finalità riconducibili all’interesse
        legittimo del Titolare saranno trattenuti sino al soddisfacimento di
        tale interesse. L’Utente può ottenere ulteriori informazioni in merito
        all’interesse legittimo perseguito dal Titolare nelle relative sezioni
        di questo documento o contattando il Titolare.
      </li>
    </ul>
    <p>
      Quando il trattamento è basato sul consenso dell’Utente, il Titolare può
      conservare i Dati Personali più a lungo sino a quando detto consenso non
      venga revocato. Inoltre, il Titolare potrebbe essere obbligato a
      conservare i Dati Personali per un periodo più lungo in ottemperanza ad
      un obbligo di legge o per ordine di un’autorità.
    </p>
    <p>
      Al termine del periodo di conservazione i Dati Personali saranno
      cancellati. Pertanto, allo spirare di tale termine il diritto di
      accesso, cancellazione, rettificazione ed il diritto alla portabilità
      dei Dati non potranno più essere esercitati.
    </p>
    <hr />
    <h5>Finalità del Trattamento dei Dati raccolti</h5>
    <p>
      I Dati dell’Utente sono raccolti per consentire al Titolare di fornire
      il Servizio, adempiere agli obblighi di legge, rispondere a richieste o
      azioni esecutive, tutelare i propri diritti ed interessi (o quelli di
      Utenti o di terze parti), individuare eventuali attività dolose o
      fraudolente, nonché per le seguenti finalità: Gestione della raccolta
      dati e dei sondaggi online e Contattare l'Utente.
    </p>
    <p>
      Per ottenere informazioni dettagliate sulle finalità del trattamento e
      sui Dati Personali trattati per ciascuna finalità, l’Utente può fare
      riferimento alla sezione “Dettagli sul trattamento dei Dati Personali”.
    </p>
    <h5>Dettagli sul trattamento dei Dati Personali</h5>
    <p>
      I Dati Personali sono raccolti per le seguenti finalità ed utilizzando i
      seguenti servizi:
    </p>
    <ul>
      <li>
        <b>Contattare l'Utente - Modulo di contatto</b>: L’Utente, compilando
        con i propri Dati il modulo di contatto, acconsente al loro utilizzo
        per rispondere alle richieste di informazioni, di preventivo, o di
        qualunque altra natura indicata dall’intestazione del modulo. Dati
        Personali trattati: cognome; data di nascita; email; nome; numero di
        telefono; varie tipologie di Dati.
      </li>
      <li>
        <b>Gestione della raccolta dati e dei sondaggi online</b>: Questo tipo
        di servizio permette a questa Applicazione di gestire la creazione,
        l'implementazione, l'amministrazione, la distribuzione e l'analisi di
        formulari e di sondaggi online al fine di raccogliere, salvare e
        riutilizzare i Dati degli Utenti che rispondono. I Dati Personali
        raccolti dipendono dalle informazioni richieste e fornite dagli Utenti
        nel formulario online corrispondente. Questi servizi possono essere
        integrati con un'ampia gamma di servizi di terze parti per consentire
        al Titolare di compiere azioni successive con i Dati trattati - ad
        esempio, gestione dei contatti, invio di messaggi, statistiche,
        pubblicità ed elaborazione dei pagamenti. Questa Applicazione utilizza
        formulari per raccogliere dati dagli Utenti. Dati Personali trattati:
        nome; numero di telefono.
      </li>
    </ul>
    <h5>Diritti dell’Utente</h5>
    <p>
      Gli Utenti possono esercitare determinati diritti con riferimento ai
      Dati trattati dal Titolare.
    </p>
    <p>In particolare, l’Utente ha il diritto di:</p>
    <ul>
      <li>
        <b>Revocare il consenso in ogni momento</b>: L’Utente può revocare il
        consenso al trattamento dei propri Dati Personali precedentemente
        espresso.
      </li>
      <li>
        <b>Opporsi al trattamento dei propri Dati</b>: l'Utente può opporsi al
        trattamento dei propri Dati quando esso avviene su una base giuridica
        diversa dal consenso. Ulteriori dettagli sul diritto di opposizione
        sono indicati nella sezione sottostante.
      </li>
      <li>
        <b>Accedere ai propri Dati</b>: l’Utente ha diritto ad ottenere
        informazioni sui Dati trattati dal Titolare, su determinati aspetti
        del trattamento ed a ricevere una copia dei Dati trattati.
      </li>
      <li>
        <b>Verificare e chiedere la rettificazione</b>: l’Utente può
        verificare la correttezza dei propri Dati e richiederne
        l’aggiornamento o la correzione.
      </li>
      <li>
        <b>Ottenere la limitazione del trattamento</b>: quando ricorrono
        determinate condizioni, l’Utente può richiedere la limitazione del
        trattamento dei propri Dati. In tal caso il Titolare non tratterà i
        Dati per alcun altro scopo se non la loro conservazione.
      </li>
      <li>
        <b>Ottenere la cancellazione o rimozione dei propri Dati Personali</b>: quando ricorrono determinate
        condizioni,
        l’Utente può richiedere la
        cancellazione dei propri Dati da parte del Titolare.
      </li>
      <li>
        <b>Ricevere i propri Dati o farli trasferire ad altro titolare</b>:
        l’Utente ha diritto di ricevere i propri Dati in formato strutturato,
        di uso comune e leggibile da dispositivo automatico e, ove
        tecnicamente fattibile, di ottenerne il trasferimento senza ostacoli
        ad un altro titolare. Questa disposizione è applicabile quando i Dati
        sono trattati con strumenti automatizzati ed il trattamento è basato
        sul consenso dell’Utente, su un contratto di cui l’Utente è parte o su
        misure contrattuali ad esso connesse.
      </li>
      <li>
        <b>Proporre reclamo</b>: l’Utente può proporre un reclamo all’autorità
        di controllo della protezione dei dati personali competente o agire in
        sede giudiziale.
      </li>
    </ul>
    <p><b>Dettagli sul diritto di opposizione</b></p>
    <p>
      Quando i Dati Personali sono trattati nell’interesse pubblico,
      nell’esercizio di pubblici poteri di cui è investito il Titolare oppure
      per perseguire un interesse legittimo del Titolare, gli Utenti hanno
      diritto ad opporsi al trattamento per motivi connessi alla loro
      situazione particolare.
    </p>
    <p>
      Si fa presente agli Utenti che, ove i loro Dati fossero trattati con
      finalità di marketing diretto, possono opporsi al trattamento senza
      fornire alcuna motivazione. Per scoprire se il Titolare tratti dati con
      finalità di marketing diretto gli Utenti possono fare riferimento alle
      rispettive sezioni di questo documento.
    </p>
    <p><b>Come esercitare i diritti</b></p>
    <p>
      Per esercitare i diritti dell’Utente, gli Utenti possono indirizzare una
      richiesta agli estremi di contatto del Titolare indicati in questo
      documento. Le richieste sono depositate a titolo gratuito e evase dal
      Titolare nel più breve tempo possibile, in ogni caso entro un mese.
    </p>
    <hr />
    <h5>Ulteriori informazioni sul trattamento</h5>
    <p><b>Difesa in giudizio</b></p>
    <p>
      I Dati Personali dell’Utente possono essere utilizzati da parte del
      Titolare in giudizio o nelle fasi preparatorie alla sua eventuale
      instaurazione per la difesa da abusi nell'utilizzo di questa
      Applicazione o dei Servizi connessi da parte dell’Utente. L’Utente
      dichiara di essere consapevole che il Titolare potrebbe essere obbligato
      a rivelare i Dati per ordine delle autorità pubbliche.
    </p>
    <p><b>Informative specifiche</b></p>
    <p>
      Su richiesta dell’Utente, in aggiunta alle informazioni contenute in
      questa privacy policy, questa Applicazione potrebbe fornire all'Utente
      delle informative aggiuntive e contestuali riguardanti Servizi
      specifici, o la raccolta ed il trattamento di Dati Personali.
    </p>
    <p><b>Log di sistema e manutenzione</b></p>
    <p>
      Per necessità legate al funzionamento ed alla manutenzione, questa
      Applicazione e gli eventuali servizi terzi da essa utilizzati potrebbero
      raccogliere log di sistema, ossia file che registrano le interazioni e
      che possono contenere anche Dati Personali, quali l’indirizzo IP Utente.
    </p>
    <p><b>Informazioni non contenute in questa policy</b></p>
    <p>
      Ulteriori informazioni in relazione al trattamento dei Dati Personali
      potranno essere richieste in qualsiasi momento al Titolare del
      Trattamento utilizzando gli estremi di contatto.
    </p>
    <p><b>Risposta alle richieste “Do Not Track”</b></p>
    <p>
      Questa Applicazione non supporta le richieste “Do Not Track”. Per
      scoprire se gli eventuali servizi di terze parti utilizzati le
      supportino, l'Utente è invitato a consultare le rispettive privacy
      policy.
    </p>
    <p><b>Modifiche a questa privacy policy</b></p>
    <p>
      Il Titolare del Trattamento si riserva il diritto di apportare modifiche
      alla presente privacy policy in qualunque momento notificandolo agli
      Utenti su questa pagina e, se possibile, su questa Applicazione nonché,
      qualora tecnicamente e legalmente fattibile, inviando una notifica agli
      Utenti attraverso uno degli estremi di contatto di cui è in possesso. Si
      prega dunque di consultare con frequenza questa pagina, facendo
      riferimento alla data di ultima modifica indicata in fondo.
    </p>
    <p>
      Qualora le modifiche interessino trattamenti la cui base giuridica è il
      consenso, il Titolare provvederà a raccogliere nuovamente il consenso
      dell’Utente, se necessario.
    </p>
    <hr />
    <h5>Definizioni e riferimenti legali</h5>
    <p><b> Dati Personali (o Dati)</b></p>
    <p>
      Costituisce dato personale qualunque informazione che, direttamente o
      indirettamente, anche in collegamento con qualsiasi altra informazione,
      ivi compreso un numero di identificazione personale, renda identificata
      o identificabile una persona fisica.
    </p>
    <p><b>Dati di Utilizzo</b></p>
    <p>
      Sono le informazioni raccolte automaticamente attraverso questa
      Applicazione (anche da applicazioni di parti terze integrate in questa
      Applicazione), tra cui: gli indirizzi IP o i nomi a dominio dei computer
      utilizzati dall’Utente che si connette con questa Applicazione, gli
      indirizzi in notazione URI (Uniform Resource Identifier), l’orario della
      richiesta, il metodo utilizzato nell’inoltrare la richiesta al server,
      la dimensione del file ottenuto in risposta, il codice numerico
      indicante lo stato della risposta dal server (buon fine, errore, ecc.)
      il paese di provenienza, le caratteristiche del browser e del sistema
      operativo utilizzati dal visitatore, le varie connotazioni temporali
      della visita (ad esempio il tempo di permanenza su ciascuna pagina) e i
      dettagli relativi all’itinerario seguito all’interno dell’Applicazione,
      con particolare riferimento alla sequenza delle pagine consultate, ai
      parametri relativi al sistema operativo e all’ambiente informatico
      dell’Utente.
    </p>
    <p><b>Utente</b></p>
    <p>
      L'individuo che utilizza questa Applicazione che, salvo ove diversamente
      specificato, coincide con l'Interessato.
    </p>
    <p><b>Interessato</b></p>
    <p>La persona fisica cui si riferiscono i Dati Personali.</p>
    <p><b>Responsabile del Trattamento (o Responsabile)</b></p>
    <p>
      La persona fisica, giuridica, la pubblica amministrazione e qualsiasi
      altro ente che tratta dati personali per conto del Titolare, secondo
      quanto esposto nella presente privacy policy.
    </p>
    <p><b>Titolare del Trattamento (o Titolare)</b></p>
    <p>
      La persona fisica o giuridica, l'autorità pubblica, il servizio o altro
      organismo che, singolarmente o insieme ad altri, determina le finalità e
      i mezzi del trattamento di dati personali e gli strumenti adottati, ivi
      comprese le misure di sicurezza relative al funzionamento ed alla
      fruizione di questa Applicazione. Il Titolare del Trattamento, salvo
      quanto diversamente specificato, è il titolare di questa Applicazione.
    </p>
    <p><b>Questa Applicazione</b></p>
    <p>
      Lo strumento hardware o software mediante il quale sono raccolti e
      trattati i Dati Personali degli Utenti.
    </p>
    <p><b>Servizio</b></p>
    <p>
      Il Servizio fornito da questa Applicazione così come definito nei
      relativi termini (se presenti) su questo sito/applicazione.
    </p>
    <p><b>Unione Europea (o UE)</b></p>
    <p>
      Salvo ove diversamente specificato, ogni riferimento all’Unione Europea
      contenuto in questo documento si intende esteso a tutti gli attuali
      stati membri dell’Unione Europea e dello Spazio Economico Europeo.
    </p>
    <hr />
    <p><b>Riferimenti legali</b></p>
    <p>
      La presente informativa privacy è redatta sulla base di molteplici
      ordinamenti legislativi, inclusi gli artt. 13 e 14 del Regolamento (UE)
      2016/679.
    </p>
    <p>
      Ove non diversamente specificato, questa informativa privacy riguarda
      esclusivamente questa Applicazione.
    </p>

    <hr />
    <p>Ultima modifica: 12 luglio 2022</p>
  </div>
  <div>
    <div class="floating-hex-0">
      <Hex width="70" fill="#75bae5" shadow="true" />
    </div>
    <div class="floating-hex-1">
      <Hex width="60" fill="#0078c3" shadow="true" />
    </div>
    <div class="floating-hex-2">
      <Hex width="30" fill="#0078c3" shadow="true" />
    </div>
    <div class="floating-hex-3">
      <Hex width="70" fill="#312783" shadow="true" />
    </div>
    <div class="floating-hex-4">
      <Hex width="90" fill="#312783" shadow="true" />
    </div>
    <div class="floating-hex-5">
      <Hex width="70" fill="#312783" shadow="true" />
    </div>
    <div class="floating-hex-6">
      <Hex width="90" fill="#0078c3" shadow="true" />
    </div>
    <div class="floating-hex-7">
      <Hex width="45" fill="#0078c3" shadow="true" />
    </div>
    <div class="floating-hex-8">
      <Hex width="50" fill="#4857a3" shadow="true" />
    </div>
    <div class="floating-hex-9">
      <Hex width="40" fill="#4857a3" shadow="true" />
    </div>
    <div class="floating-hex-10">
      <Hex width="50" fill="#4857a3" shadow="true" />
    </div>
    <div class="floating-hex-11">
      <Hex width="30" fill="#4857a3" shadow="true" />
    </div>
    <div class="floating-hex-12">
      <Hex width="50" fill="#4857a3" shadow="true" />
    </div>
    <div class="floating-hex-13">
      <Hex width="70" fill="#75bae5" shadow="true" />
    </div>
    <div class="floating-hex-14">
      <Hex width="90" fill="#75bae5" shadow="true" />
    </div>

  </div>
</Layout>

<style>
  .privacy-policy {
    color: var(--color-blue);
    margin: var(--spacing-5);
  }

  h4 {
    font-weight: normal;
    margin-bottom: 13px;
  }

  h5 {
    font-size: 20px;
  }

  .flex-container {
    display: flex;
  }

  .flex-item {
    display: flex;
    align-items: center;
  }

  .flex-box {
    margin-left: var(--spacing-1);
  }

  div {
    margin: var(--spacing-0-5) 0;
  }

  .contactForm {
    margin-top: 8px;
  }

  p {
    margin-bottom: var(--spacing-1);
    font-size: 13px;
    font-weight: normal;
  }

  .smallFont {
    font-size: 13px;
    margin-bottom: var(--spacing-1);
  }

  ul {
    font-size: 13px;
    font-weight: normal;
  }

  .floating-hex-0 {
    position: absolute;
    left: 26%;
    top: 80px;
    display: none;
  }

  .floating-hex-1 {
    position: absolute;
    right: -5%;
    top: 110px;
  }

  .floating-hex-2 {
    position: absolute;
    right: -6%;
    top: 186px;
  }

  .floating-hex-3 {
    position: absolute;
    right: -6%;
    top: 600px;
  }

  .floating-hex-4 {
    position: absolute;
    right: -1%;
    top: 670px;
  }

  .floating-hex-5 {
    position: absolute;
    left: 1%;
    top: 850px;
    transform: translateX(-52%);
  }

  .floating-hex-6 {
    position: absolute;
    left: 1%;
    top: 1200px;
    transform: translateX(-56%);
  }

  .floating-hex-7 {
    position: absolute;
    right: 1%;
    transform: translateX(+53%);
    top: 1700px;
  }

  .floating-hex-8 {
    position: absolute;
    right: 0%;
    top: 1870px;
    transform: translateX(+40%);
  }

  .floating-hex-9 {
    position: absolute;
    right: -8%;
    top: 2040px;
  }

  .floating-hex-10 {
    position: absolute;
    left: -3%;
    top: -273px;
    z-index: -1;
    transform: translate(-32%, 0);

  }
  .floating-hex-11{
    position: absolute;
    right: -4%;
    top: 600px;
    display:none;
  }
  .floating-hex-12{
    position: absolute;
    transform: translateX(+40%);
    right: 0%;
    top: 2860px;
  }
  .floating-hex-13{
    position: absolute;
    transform: translateX(+40%);
    right: -2%;
    top: 4060px;
  }
  .floating-hex-14{
    position: absolute;
    right: -4%;
    top: 4460px;
    transform: translateX(+40%);
  }

  .relative{
    position: relative;
  }

  .margin {
    margin: 4px 0px 8px;
  }

  @media only screen and (max-width: 600px) {
    .flex-container {
      display: flex;
      flex-direction: column;
    }

    .floating-hex-0 {
      position: absolute;
      left: 26%;
      top: 80px;
      display: block;
    }

    .floating-hex-10 {
      display: none;
    }
    .direction{
      flex-direction: row;
    }
    .floating-hex-3{
      display: none;
    }
    .floating-hex-4{
      display: none;
    }
    .floating-hex-11{
      position: absolute;
      right: -4%;
      top: 600px;
      display: block;
    }
    .floating-hex-14{
      display: none;
    }
  }
</style>