@use "../styles/variables";

@use "../styles/main.scss";

.page-self-development {
  &__floating-hex {
    display: block;
    color: variables.$ts-blue-color;
    box-sizing: border-box;

    &-1 {
      position: absolute;
      bottom: -200px;
      left: 50%;
    }
    &-2 {
      position: absolute;
      bottom: -220px;
      left: 50%;
      transform: translateX(-50%);
    }

    &-3 {
      position: absolute;
      left: 73%;
      top: -140px;
    }
  }

  &__copy {
    & p {
      text-align: center;
      margin: variables.$ts-spacing-15 0 variables.$ts-spacing-6;
    }
  }

  &__services {
    margin-top: variables.$ts-spacing-15;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 310px;

    &-blob {
      width: 1000px;
      position: absolute;
      top: 120%;
      left: 42%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    & h2 {
      text-transform: none;
      text-align: center;
      margin-bottom: variables.$ts-spacing-6;
    }

    &-list a {
      font-weight: 400;
    }

    &-list a:hover {
      text-decoration: underline;
    }

    &-contact-us-button {
      display: inline-block;
      margin-top: variables.$ts-spacing-4;
    }
  }

  &__choose-services {
    margin-bottom: variables.$ts-spacing-6;
  }

  &__services-list,
  &__service-subservices ol {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    line-height: 28px;
    margin: 0 auto;
    text-align: left;
  }

  &__services-list li,
  &__service-subservices li {
    margin-bottom: variables.$ts-spacing-3;
  }

  &__services-list li::before,
  &__service-subservices li::before {
    content: "";
    display: inline-block;
    height: 28px;
    width: 28px;
    background-image: url("img/icons/hexagon-list-item.svg");
    background-size: cover;
    margin: 0 variables.$ts-spacing-4 -4px auto;
    padding: 0;
  }

  &__service {
    position: relative;

    & + & {
      margin-top: 280px;
    }

    & p {
      width: 100%;
      max-width: 580px;
    }

    & h4 {
      margin-bottom: variables.$ts-spacing-3;
      line-height: 33px;
    }
  }

  #page-self-development {
    &__sentieri-di-carriera {
      text-align: right;

      & p {
        margin-left: auto;
      }
    }
  }

  &__service-subservices {
    margin: variables.$ts-spacing-4 0;
    position: relative;

    & li {
      font-weight: 500;
      margin-bottom: variables.$ts-spacing-4;
    }
  }

  #page-self-development {
    &__free-trial {
      position: absolute;
      right: 0;
    }

    &__stress_lavoro_correlato {
      &,
      p {
        text-align: right;
        margin-left: auto;
      }
    }

    &__coaching {
      margin-bottom: 200px;
    }
  }

  &__our-plans {
    margin-top: 300px;
    text-align: center;

    .body-2 {
      margin-bottom: variables.$ts-spacing-6;
    }
  }

  @media only screen and (max-width: variables.$ts-tablet-max) {
    & {
      padding: 0 variables.$ts-spacing-3;
    }

    &__services-list,
    &__service-subservices ol {
      font-size: 18px;
      width: 250px;
    }

    &__services-list li::before,
    &__service-subservices li::before {
      height: 24px;
      width: 24px;
      margin-right: variables.$ts-spacing-2;
    }

    &__service {
      & + & {
        margin-top: variables.$ts-spacing-10;
      }

      & h4 {
        margin-bottom: variables.$ts-spacing-3;
        font-style: normal;
        line-height: 24px;
      }

      & p {
        box-sizing: border-box;
        padding-right: 60px;
      }

      &-subservices ol {
        margin: variables.$ts-spacing-7 auto;
      }
    }

    &__services-blob {
      top: 105%;
    }

    #page-self-development {
      &__sentieri-di-carriera,
      &__stress_lavoro_correlato {
        p {
          padding-left: 60px;
          padding-right: 0;
        }
      }

      &__free-trial {
        position: static;
        display: flex;
      }

      &__free-trial ts-button {
        margin: auto;
      }
    }
  }

  @media only screen and (max-width: variables.$ts-mobile-max) {
    &__services-blob {
      top: 130%;
    }
  }
}
