@import 'src/sass/variables.scss';

.hexagon-card {
  align-items: center;
  box-shadow: $box-shadow-default;
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-vertical-lg;
  min-height: 200px;
  overflow: hidden;
  padding: 0 $spacing-horizontal-sm $spacing-vertical-md;

  &.cyan {
    color: darken($ts-cyan, 45%);
  }

  &.purple {
    color: darken($ts-purple, 5%);
  }

  > svg {
    flex: 0 0 auto;
    margin-top: -70px;

    .hexagon-highlight {
      opacity: .2;
    }
    
    .hexagon-shadow {
      opacity: 0;
    }
  }

  .card-content {
    flex: 1 1 auto;

  }

  .card-content-collapsible{
    max-height: 0;
    overflow: hidden;
    transition: max-height $timing-medium $timing-function;
  }

  &.expanded {
    .card-content-collapsible{
      max-height: 1000px;
    }
  }

  .collapsible {
    display: inline;
    position: relative;
        
    >.ts-button {
      margin-top: $spacing-vertical-md;
      width: 100%;
    }
  }

  .scroller {
    @include size(1px);
    visibility: hidden;
    display: block;

    // position: absolute;
    // top: calc(100vh - 24px);

  }
}
