body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 100%;
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
}

/* Footer Style - fow now duplicated - footer.js css */
footer {
  height: 325px;
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  background-color: #312783;
  width: 100%;
}

.footer-width {
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 116px;
  line-height: 116px;
  color: white;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
}

.footer {
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.footer__text {
  text-align: left;
  margin-left: 75px;
  color: white;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
}

.footer__iva {
  color: white;
  font-size: 15px;
  line-height: 17px;
}

ul {
  height: 116px;
  line-height: 116px;
  margin: 0;
}

a {
  font-weight: normal;
  margin: 0;
}

ul li {
  list-style: none;
  display: inline;
  color: white;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal !important;
  font-style: normal;
}

hr {
  width: 100vw;
  position: absolute;
  left: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  padding-bottom: 5px;
  box-shadow: inset 0 -2px 0 0 #fff;
}
