@use "../styles/variables";

@use "../styles/main.scss";

.page-company {
  display: block;
  color: variables.$ts-blue-color;
  box-sizing: border-box;
  margin-bottom: variables.$ts-spacing-4;

  ts-header-hexagons-desktop,
  ts-header-hexagons-mobile {
    position: absolute;
    z-index: -1;
  }

  ts-header-hexagons-desktop {
    right: -680px;
    width: 830px;
    top: -640px;
  }

  ts-header-hexagons-mobile {
    display: none;
  }

  &_floating-hex-1 {
    position: absolute;
    left: 17%;
    top: -40px;
    width: 100px;
  }

  &__logo {
    flex: 1 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 130px;
    max-width: 320px;

    height: 190px;
    width: auto;
  }

  &__row {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-height: 600px;
    justify-content: space-between;
    margin: 0 (variables.$ts-spacing-3 * -1);
    padding-left: variables.$ts-spacing-3;
    flex: 1 1 0;

    &--flipped {
      flex-direction: row-reverse;
      padding-right: variables.$ts-spacing-3;
      padding-left: 0;
    }
  }

  &__blob {
    display: flex;
    justify-content: center;
    min-width: 0;
    z-index: -10;

    ts-blob {
      width: 545px;
      // margin-right: -(variables.$ts-spacing-10);
    }

    &__content {
      padding: variables.$ts-spacing-2 variables.$ts-spacing-5;
      text-align: center;

      & .body-1 {
        margin: variables.$ts-spacing-3 0;
      }
    }
  }

  ts-company-hex-1,
  ts-company-hex-2,
  ts-company-hex-1-mobile,
  ts-company-hex-2-mobile {
    width: 200px;
    display: block;
  }

  ts-company-hex-1 {
    margin: variables.$ts-spacing-4 15% 0 auto;
  }

  ts-company-hex-2 {
    margin: variables.$ts-spacing-4 auto 0 40%;
  }

  ts-company-hex-1-mobile,
  ts-company-hex-2-mobile {
    display: none;
  }

  @media only screen and (max-width: variables.$ts-mobile-max) {
    ts-header-hexagons-desktop {
      display: none;
    }

    ts-header-hexagons-mobile {
      display: block;
      right: -110px;
      width: 414px;
      top: -285px;
    }

    h1.title-1 {
      margin-bottom: variables.$ts-spacing-10;
    }

    &_floating-hex-1 {
      display: none;
    }

    &__row {
      max-height: 600px;

      img {
        max-width: 120px;
      }
    }

    &__blob {
      min-width: 0;

      ts-blob {
        min-width: 80vw;
        margin-right: 0;
        // margin-left: -(variables.$ts-spacing-8);
      }

      &__content {
        padding: variables.$ts-spacing-2 variables.$ts-spacing-4 variables.$ts-spacing-2 variables.$ts-spacing-8;
        text-align: left;
      }
    }

    &__row {
      &--flipped &__blob__content {
        padding: variables.$ts-spacing-2 variables.$ts-spacing-8 variables.$ts-spacing-2 variables.$ts-spacing-4;
        text-align: right;
      }
    }

    &__row {
      padding-left: variables.$ts-spacing-3;
      padding-right: variables.$ts-spacing-3;
    }

    ts-company-hex-1,
    ts-company-hex-2 {
      display: none;
    }

    ts-company-hex-1-mobile,
    ts-company-hex-2-mobile {
      width: 60vw;
      display: block;
    }

    ts-company-hex-1-mobile {
      margin: variables.$ts-spacing-4 auto 0 40%;
    }

    ts-company-hex-2-mobile {
      margin: variables.$ts-spacing-4 auto 0 40%;
    }
  }

  @media only screen and (min-width: variables.$ts-tablet-min) and (max-width: variables.$ts-tablet-max) {
    ts-header-hexagons-desktop {
      right: -380px;
      top: -660px;
    }

    &__row {
      img {
        max-width: 200px;
      }
    }

    &__blob {
      ts-blob {
        min-width: 60vw;
      }
    }
  }
}