@use "../styles/variables";

@use "../styles/main.scss";

.privacy-policy {
  color: variables.$ts-blue-color;
  margin-bottom: variables.$ts-spacing-10;

  @media only screen and (max-width: variables.$ts-mobile-max) {
    &__flex {
      &-container {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__flex {
    &-container {
      display: flex;
    }

    &-item {
      display: flex;
    }

    &-box {
      margin-left: variables.$ts-spacing-1;
    }
  }

  &__container {
    padding: variables.$ts-spacing-5;
    margin-top: variables.$ts-spacing-10;

    div {
      margin-bottom: variables.$ts-spacing-1;
    }

    p {
      margin-bottom: variables.$ts-spacing-1;
      font-size: 13;
      font-weight: normal;
    }

    ul {
      font-size: 13;
      font-weight: normal;
    }
  }
}
