@use "../styles/variables";

@import "../styles/main.scss";

.page-team {
  color: variables.$ts-blue-color;

  ts-header-hexagons-desktop,
  ts-header-hexagons-mobile {
    z-index: -1;
  }

  &__people {
    margin: variables.$ts-spacing-15 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__spacer {
      flex: 0 1 16.6666%;
      max-width: 16.6666%;
    }

    &__contact-us-button {
      margin-top: variables.$ts-spacing-2;
    }
  }

  ts-team-person {
    margin: variables.$ts-spacing-7 0;
    flex: 0 1 33.3333%;
    max-width: 33.3333%;
  }

  &__giga-blob {
    display: block;
    position: absolute;
    width: 1400px;
    overflow: visible;
    top: -430px;
    right: 300px;
    z-index: -1;
  }

  &__giga-blob-mobile {
    display: none;
  }

  &__contact-us {
    margin-bottom: variables.$ts-spacing-10;
  }

  ts-contact-us {
    margin-top: 200px;
    display: block;
  }

  @media only screen and (min-width: variables.$ts-tablet-min) and (max-width: variables.$ts-tablet-max) {
    .title-1 {
      max-width: 60%;
      text-align: left;
    }

    &__giga-blob {
      right: 600px;
      top: -500px;
    }

    &__people {
      margin: variables.$ts-spacing-4 0;
    }

    &__copy {
      max-width: 60%;
    }
  }

  @media only screen and (max-width: variables.$ts-mobile-max) {
    &__copy {
      max-width: 80%;
    }

    &__people {
      margin: variables.$ts-spacing-3 0;

      &__spacer {
        display: none;
      }
    }

    &__giga-blob {
      display: none;
    }

    &__giga-blob-mobile {
      display: block;
      position: absolute;
      width: 1400px;
      overflow: visible;
      top: -130px;
      left: -270px;
      z-index: -1;
    }

    ts-team-person {
      margin: variables.$ts-spacing-1 2px;
      flex: 0 1 calc(50% - 4px);
      max-width: calc(50% - 4px);
    }
  }
}