@import '../../sass/mixins';
@import '../../sass/variables';

.header {
  background-color: transparent;
  color: $ts-purple;
  font-family: $font-exo;
  font-size: $font-size-body;
  height: $header-height;

  &.dark {
    background-color: $ts-purple;
    color: $white;

    .logo {
      .svg-ts-logo-text-purple {
        fill: $gray-lightest;
      }
    }
  }

  .logo {
    max-height: 64px;
    box-shadow: 0;
    transition: box-shadow $timing-quick $timing-function;

    .svg-ts-logo-text-purple,
    .svg-ts-logo-text-purple {
      transition: fill $timing-quicker $timing-function;
    }
    .svg-ts-logo-text-cyan,
    .svg-ts-logo-text-cyan {
      transition: fill $timing-quicker $timing-function;
    }

    svg {
      height: 56px;
      width: auto;
    }

    &:hover {
      .svg-ts-logo-text-purple,
      .svg-ts-logo-text-purple {
        fill: $ts-purple;
      }
      .svg-ts-logo-text-cyan,
      .svg-ts-logo-text-cyan {
        fill: $ts-cyan;
      }
    }
  }

  .header-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $breakpoint-lg;
    padding: $spacing-vertical-sm $spacing-horizontal-sm;
  }

  .header-menu {
    @include screen-only-sm {
      @include position (fixed, 75px 0 0 0);

      align-items: center;
      background: $ts-light-background;
      color: $ts-purple-dark;
      flex-direction: column;
      font-size: 1.2rem;
      justify-content: flex-start;
      max-height: 0;
      opacity: 0;
      position: fixed;
      transition: opacity $timing-medium $timing-function 0s, max-height 0s linear $timing-medium;
      z-index: 100;

      &.open {
        max-height: 100vh;
        opacity: 1;
        transition: opacity $timing-medium $timing-function 0s, max-height 0s linear 0s;
      }
    };

    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 600;
    justify-content: flex-end;
  }

  &.dark {
    .logo {

      transition: box-shadow $timing-quick $timing-function;

      .svg-ts-logo-text-purple,
      .svg-ts-logo-text-purple {
        fill: darken($white, 5%);
        transition: fill $timing-quicker $timing-function;
      }
      .svg-ts-logo-text-cyan,
      .svg-ts-logo-text-cyan {
        transition: fill $timing-quicker $timing-function;
      }

      svg {
        height: 56px;
        width: auto;
      }

      &:hover {
        .svg-ts-logo-text-purple,
        .svg-ts-logo-text-purple {
          fill: $white;
        }
        .svg-ts-logo-text-cyan,
        .svg-ts-logo-text-cyan {
          fill: $ts-cyan;
        }
      }
    }
    
    .header-menu-item {
      @include screen-from-md {
        color: darken($white, 15%);
        transition: color $timing-quicker $timing-function;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .header-menu-item {
    @include screen-from-md {
      color: desaturate($ts-purple, 100%);
      transition: color $timing-quicker $timing-function;

      &:hover {
        color: $ts-purple;
      }
    }
    
    border-radius: 4px;
    margin: $spacing-vertical-md $spacing-horizontal-md;
    text-transform: uppercase;


    a {
      text-decoration: none;
    }
  }

  .mobile-menu-toggle {
    @include screen-from-md {
      display: none;
    }

    svg {
      @include size($icon-size-lg);
    }
  }
}
