@import '../../sass/mixins';
@import '../../sass/variables';

.header {
  background-color: transparent;
  color: $ts-purple;
  font-family: $font-exo;
  font-size: $font-size-body;

  &.dark {
    background-color: $ts-purple;
    color: $white;

    .logo {
      .svg-ts-logo-text-purple {
        fill: $gray-lightest;
      }
    }
  }

  .logo {
    max-height: 56px;

    svg {
      height: 56px;
      width: auto;
    }
  }

  .header-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $breakpoint-lg;
    padding: $spacing-vertical-sm $spacing-horizontal-sm;
  }

  .header-menu {
    @include screen-only-sm {
      @include position (fixed, 75px 0 0 0);

      align-items: center;
      background: $ts-light-background;
      color: $ts-purple-dark;
      flex-direction: column;
      font-size: 1.2rem;
      justify-content: flex-start;
      max-height: 0;
      opacity: 0;
      position: fixed;
      transition: opacity $timing-medium $timing-function 0s, max-height 0s linear $timing-medium;
      z-index: 100;

      &.open {
        max-height: 100vh;
        opacity: 1;
        transition: opacity $timing-medium $timing-function 0s, max-height 0s linear 0s;
      }
    };

    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 600;
    justify-content: flex-end;
  }

  .header-menu-item {
    margin: $spacing-vertical-md $spacing-horizontal-md;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }
  }

  .mobile-menu-toggle {
    @include screen-from-md {
      display: none;
    }

    svg {
      @include size($icon-size-lg);
    }
  }
}
