@import '../../sass/variables.scss';

.header {
  $header-text-color: $ts-purple;

  background-color: transparent;
  color: $header-text-color;
  font-family: $font-exo;
  font-size: $font-size-body;

  img {
    max-width: 200px;
  }

  .header-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $breakpoint-lg;
    padding: $spacing-vertical-sm $spacing-horizontal-sm;
  }

  .header-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .header-menu-item {
    margin: $spacing-horizontal-md;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;

    a {
      color: $header-text-color;
      text-decoration: none;
    }
  }
}