---
import Picture from "../components/Picture.astro";
import Hex from "../components/Hex.astro";
const { title } = Astro.props;
---

<section>
  <h1>{title}</h1>
  <div class="customers">
    <Picture base="customers" src="confindustria" alt="Confindustria" />
    <Picture base="customers" src="unioneIndustriale" alt="Unione Industriale" />
    <Picture base="customers" src="arduino" alt="Arduino" />
    <Picture base="customers" src="collins" alt="Collins" />
    <Picture base="customers" src="qualityGroup" alt="Quality Group" />
    <Picture base="customers" src="reply" alt="Reply" />
  </div>
  <div class="hex">
    <Hex width="56" fill="#9893c1" shadow="true" />
  </div>
</section>

<style>
  section {
    margin-top: var(--spacing-9);
    min-height: 450px;
  }

  .customers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 24px;
    flex-wrap: wrap;
  }

  .hex {
    position: absolute;
    left: 500px;
  }

  img {
    position: absolute;
    top: 20px;
    left: 455px;
  }

  @media only screen and (max-width: 960px) {
    .hex {
      display: none;
    }
  }

  @media only screen and (max-width: 600px) {
    img {
      left: 155px;
    }
  }
</style>