@import 'src/sass/mixins.scss';
@import 'src/sass/variables.scss';

$panel-width: 50vw;

.index-page {
  .page-content {
    padding: 0 $spacing-horizontal-sm;
  }

  .ts-logo {
    padding: $spacing-vertical-md 20%;
    width: 100%;
  }

  .sliding-container {
    display: flex;
    justify-content: center;
    width: 100vw;


    &.shift-left {
      cursor: pointer;

      .sliding {
        transform: translate(($panel-width), 0);

        @include screen-from-lg {
          transform: translate(($panel-width - 5vw), 0);
        }
      }

      .left-panel {
        left: 0;
      }
    }

    &.shift-right {
      cursor: pointer;

      .sliding {
        transform: translate(-($panel-width), 0);

        @include screen-from-lg {
          transform: translate(-($panel-width - 5vw), 0);
        }
      }

      .right-panel {
        right: 0;
      }
    }
  }

  .sliding {
    display: flex;
    justify-content: space-between;
    position: relative;
    transform: translate(0, 0);
    transition: transform $timing-medium $timing-function;
    z-index: 10;


  }

  .hexagon-chart {
    flex: 1 0 auto;
    height: calc(100vh - #{$header-height});
    max-height: calc(100vh - #{$header-height});
    max-width: 100vh;
    width: 100vw;

    $icon-size: 7rem;

    h4 {
      margin-top: $spacing-vertical-lg;
      font-size: 1.2rem;

      &,
      + p,
      + ul {
        margin-left: $icon-size + $spacing-horizontal-sm;
      }

    }

    p {
      &:nth-child(2n + 2) {
        margin-left: 0;
        margin-right: $icon-size + $spacing-horizontal-sm;
      }
    }

    h4 {
      &:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: $icon-size + $spacing-horizontal-sm;
      }
    }

    h6 {
      &:nth-child(2n + 2) {
        .icon {
          float: right;
        }
      }
    }

    .icon {
      float: left;
      height: $icon-size;
      margin-top: $spacing-vertical-lg;
      width: $icon-size;
    }
  }
}



.left-panel,
.right-panel {
  flex: 0 0 $panel-width;
  font-size: 1.2rem;
  height: 100%;
  opacity: 0;
  overflow-y: auto;
  padding: $spacing-horizontal-lg $spacing-vertical-lg;
  position: absolute;
  width: $panel-width;

  &.shown {
    opacity: 1;
  }
}

.left-panel {
  // box-shadow: 4px 0 5px 0 rgba(0, 0, 0, .1);
  left: -$panel-width;
  transition: opacity $timing-medium $timing-function, left $timing-medium $timing-function;

  &.shown {
    left: 0;
  }
}

.right-panel {
  // box-shadow: -4px 0 5px 0 rgba(0, 0, 0, .1);
  right: -$panel-width;
  transition: opacity $timing-medium $timing-function, right $timing-medium $timing-function;

  &.shown {
    right: 0;
  }
}

.index-page {
  .page-content {
    position: relative;

    > .back-to-top {
      position: fixed;
      bottom: $spacing-vertical-lg;
      right: $spacing-vertical-lg;
      transform: scale(1);
      transition: transform $timing-quick $timing-function;

      &.hidden {
        transform: scale(0);
      }

      .ts-button {
        @include size($icon-size-xl);
        border-radius: $icon-size-lg;
        box-shadow: $box-shadow-heavy;
        padding: 11px 12px;
      }

      .icon {
        @include size($icon-size-md);
      }
    }

    .index-page-mobile {

      .card-wrapper {
        padding: $spacing-vertical-lg 0 0;
      }

      > div {
        &:last-child {
          min-height: 100vh;
        }
      }
    }
  }
}

.hexagons-cards-list {
  padding: $spacing-horizontal-sm $spacing-vertical-sm;

  .hexagon-card {
    margin-bottom: $spacing-vertical-md;

    >svg {
      margin-bottom: $spacing-vertical-md;
    }

    h2 {
      font-size: 1.6rem;
      text-transform: uppercase;
    }

    h4 {
      font-size: 1.2rem;
      font-weight: 500;
      margin: $spacing-vertical-md 0 $spacing-vertical-xs;
    }

    .icon {
      height: 20px;
      width: 20px;
      float: left;
      margin: $spacing-vertical-sm 8px $spacing-vertical-xs 0;
    }
  }
}