@import 'src/sass/mixins';
@import 'src/sass/variables';

.footer {
  @include position(fixed, null 0 0 0);
  color: transparentize($color: $text-color-default, $amount: .2);
  display: flex;
  justify-content: space-between;
  padding: $spacing-vertical-md 0;
  width: 100vw;

  > div {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;

    > * {
      display: block;
    }

    > a,
    span {
      margin-left: .5rem;
      text-decoration: none;
    }

    > a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
