footer {
  background-color: variables.$ts-blue-color-footer;
  width: 100%;
  font-weight: 300;
  color: variables.$ts-white-color;

  a {
    color: variables.$ts-white-color;
  }

  .footer-top {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: variables.$ts-spacing-3 0;
    max-width: variables.$ts-tablet-max;
    line-height: 28px;

    &__box,
    &__link-box {
      flex: 0 0 20%;

      & > div {
        margin: variables.$ts-spacing-1-5 0;
        font-weight: 400;

        & > a {
          color: variables.$ts-white-color;
        }
      }
    }

    &__bordered-box {
      flex: 0 0 32%;
      border-left: 1px solid variables.$ts-white-color;
      padding-left: variables.$ts-spacing-3;
      margin-left: variables.$ts-spacing-3;
      font-weight: 400;

      & > div {
        margin: variables.$ts-spacing-1-5 0;
        line-height: 18px;
      }
    }

    &--spacing {
      margin-left: variables.$ts-spacing-2;
    }

    .title-6 {
      margin: 0 0 variables.$ts-spacing-2;
      font-weight: 500;
    }
  }

  .footer-bottom {
    margin-top: 28px;
    min-height: 180px;
    background-color: variables.$ts-blue-color-footer;

    &__text {
      border-left: 1px solid variables.$ts-white-color;
      font-size: 15px;
      line-height: 18px;
      padding-left: 16px;
      width: 173px;
    }

    &__iva {
      font-size: 15px;
      line-height: 18px;
      text-align: center;
    }

    &__company {
      margin-right: 20px;
    }

    &__container {
      display: flex;
      margin-bottom: variables.$ts-spacing-5;
      justify-content: center;
    }

    &__img {
      margin-right: 18px;
    }
  }

  ts-picture {
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  @media only screen and (max-width: variables.$ts-mobile-max) {
    .footer-top {
      flex-wrap: wrap;
      padding: variables.$ts-spacing-3;
      justify-content: flex-start;
      line-height: 28px;

      &__link-box {
        flex: 0 0 50%;
        margin-bottom: variables.$ts-spacing-3;
      }
      &__box {
        flex: 0 0 50%;
      }

      &__bordered-box {
        flex: 0 0 100%;
        border-top: 1px solid variables.$ts-white-color;
        border-bottom: 1px solid variables.$ts-white-color;
        border-left: none;
        padding: variables.$ts-spacing-3 0;
        margin-left: 0;
        margin-top: variables.$ts-spacing-3;
        text-align: center;

        a {
          color: variables.$ts-white-color;
        }

        a,
        div {
          max-width: 290px;
          margin: variables.$ts-spacing-1-5 auto;
        }

        .title-6 {
          max-width: 100vw;
        }
      }
    }

    .title-6 {
      margin: variables.$ts-spacing-1 0 variables.$ts-spacing-2;
    }

    hr {
      display: none !important;
    }
  }
}

@media only screen and (max-width: variables.$ts-tablet-max) {
  footer {
    height: auto;
  }
}

@media only screen and (min-width: variables.$ts-tablet-min) and (max-width: variables.$ts-tablet-max) {
  footer {
    .footer-top {
      &__bordered-box {
        flex: 0 0 20%;
      }
    }
  }
}
