@import 'src/sass/variables.scss';

.service-details {
  padding-bottom: $spacing-vertical-md;
  
  .service-details-item {
    h3 {
      font-size: 1.5rem;
      margin-bottom: $spacing-vertical-md;
      margin-top: $spacing-vertical-xl;
      text-transform: uppercase;
    }
    
    .item-content {
      align-items: center;
      display: flex;
      
      .icon {
        flex: 0 1 128px;
        height: auto;
        min-width: 64px;
        max-width: 128px;       
      }

      .text {
        padding-left: $spacing-horizontal-sm;

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}