@import 'src/sass/mixins.scss';
@import 'src/sass/variables.scss';

.page-contact-us {
  font-size: 1.1rem;
  
  h4 {
    font-size: 1.1rem;
  }

  .page-wrapper {
    @include screen-only-sm {
      padding-bottom: 0;
    }

    .page-content {
      @include screen-only-sm {
        flex-direction: column;
      }

      display: flex;
      
      > * {
        @include screen-only-sm {
          padding: $spacing-vertical-md 0;
        }

        flex: 1 1 auto;
      }

      h4 {
        margin-top: $spacing-vertical-lg;

        &:first-child {
          margin-top: 0;
        }
      }

      iframe {
        @include screen-only-sm {
          padding: 0;
          margin: $spacing-vertical-md (-$spacing-horizontal-md) 0; 
        }

        margin-bottom: 0;
        min-height: 400px;
      }
    }
  }
}