@import '../../sass/mixins';
@import '../../sass/variables';

.page-wrapper {
  @include screen-only-sm {
    padding: $spacing-vertical-lg $spacing-horizontal-md $spacing-vertical-lg;
  }

  padding: $spacing-vertical-lg $spacing-horizontal-lg;

  .page-content {
    margin: 0 auto;
    max-width: $breakpoint-lg;
  }
}
