@import '../../sass/mixins';
@import '../../sass/variables';

.page-about-us {
  font-size: $font-size-body-lg;

  .ts-logo {
    margin: $spacing-vertical-md 0 $spacing-vertical-xxl;
    text-align: center;

    img {
      max-width: 18rem;
    }
  }

  blockquote {
    margin: 0;

    > p {
      @include screen-until-lg {
        flex-direction: column;
      };

      align-items: center;
      display: flex;
      justify-content: space-around;
      margin-top: $spacing-vertical-xl;
  
      span {
        @include screen-until-lg {
          margin-bottom: $spacing-vertical-md;
          width: 100%;
        };

        flex: 1 1 auto;
      }
    }
  }
}
