@import '../../sass/variables';

.page-about-us {
  font-size: $font-size-body-lg;

  .ts-logo {
    margin: $spacing-vertical-md 0 $spacing-vertical-xxl;
    text-align: center;

    img {
      max-width: 18rem;
    }
  }

  blockquote > p {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: $spacing-vertical-xxl;

    span {
      flex: 0 1 auto;
      max-width: 100%;
      width: 20rem;
    }
  }
}
