@import 'src/sass/mixins';
@import 'src/sass/variables';

.service-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - #{$header-height + 2px});
  margin-bottom: $spacing-vertical-sm;
  padding: $spacing-vertical-lg 0;

  .ts-button {
    @include screen-only-xs {
      font-size: 1rem;
    };

    align-items: center;
    box-shadow: none;
    display: flex;
    font-size: 1rem;
    padding-left: 0;
    padding-right: 0;
    text-align: left;

    .icon {
      @include size($icon-size-lg);
      display: inline;
      margin-right: $spacing-horizontal-sm;
    }
  }
}