@import 'src/sass/mixins';
@import 'src/sass/variables';

.service-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-vertical-lg 5%;
  min-height: calc(100vh - #{$header-height - 8px});

  .ts-button {
    @include screen-only-xs {
      font-size: 1rem;
    };

    align-items: center;
    display: flex;
    font-size: 1.2rem;

    .icon {
      display: inline;
      height: $icon-size-md;
      margin-right: $spacing-horizontal-xs;
      width: $icon-size-md;
    }
  }
}